doctype htmlrs
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/styles.css')
    title BUAHAHAHAHAHA!
  body.red
    div.container
      h1 BUAHAHAHAHAHA!
      img(src='/anon-hack.png')
      p.secret-slogan You've been hacked! We stole your Google password !!!
      p.blink #{credentials.password}
